/* index.scss */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s ease-in;
}
.about-page{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0 10px;
  margin: 0 10px;
  min-height: 80vh;
  height: 90vh;
  width: 100vw;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  transition: all 0.5s ease-in-out;
  overflow: scroll;
  scrollbar-width: none;

  h1{
    color:#02c8ff;
    font-size: 2.2vw;
    margin: 4rem 0;
  }
  

  .text-zone{
    position: relative;
    height: 80vh;
    width: 50vw;
    padding: 0 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

   
    p{
      color:white;
      font-size: 0.9vw;
      line-height: 3vh;
    }
    li{
      font-size: 1.5rem;
    }
  }
  .stage-cube-cont{
    height: 90vh;
    width: 50vw;
    h1{
      text-align: center;
    }
  }
  .tech-grid {
    height: 80vh;
    width: 50vw;
    display: grid;
    padding: 0 5rem;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0.3vw;
  
    .tech-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: space-evenly;
      background-color: #161616af;
      color: #02c8ff;
      padding: 0.5vw;
      border-radius: 2em;
      height: 5vw;
      width: 5vw;
      box-shadow: 5px 10px 6px rgba(98, 97, 97, 0.05);
      text-align: center;
      transition: transform 0.3s ease-in-out;
      .bf{
        display: none;
      }
      svg {
        margin-bottom: 1vh;
      }
  
      span {
        font-size: 0.5vw;
        font-weight: bold;
        color: #fff;
      }
  
      &:hover {
        transform: translateY(-5px);
        color: #fff;
        background-color: #02c8ff;
      }
    }
  }

}




@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }   
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

@media screen and (max-width: 1200px){
  .about-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    min-height: 100vh;
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 0rem;
    transition: all 0.5s ease-in-out;

    .text-zone{
      padding: 0rem 2rem;
      width: 90%;
      height: 20%;
      min-height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      p{
        font-size: 1.9rem;
        line-height: 3vh;
      }
        max-width: 1200px;
    }


    .stage-cube-cont{
      min-height: 30vh;
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0;
      h1{
        text-align: left;
      }
      .tech-grid{
        width: 100%;
        padding: 2rem 5px;
        justify-items: start;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 0.3vw;
        margin-bottom: 2rem;
        

        .tech-item{
          height: 8rem;
          width: 8rem;

          svg{
            width: 4rem;
            height: 4rem;
          }

        }
       
      }
    }
  }

}

@media screen and (max-width: 768px){
  .about-page {
    .text-zone{
      p{
        font-size: 1.8rem;
      }
     h1{
    font-size: 3rem;
     }
    }
    .stage-cube-cont{
      margin: 0rem;
      min-height: 120vh;
      h1{
        font-size: 3rem;
        margin-bottom: 2rem;
      }
      .tech-grid{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 1.5vw;

      .tech-item{
        height: 7rem;
        width: 7rem;

        svg{
          width: 3rem;
          height: 3rem;
        }
        span {
          font-size: 1rem;
         }
      }
    }
    }
  }
}

@media screen and (max-width: 480px){
  .about-page{
    .stage-cube-cont{
      margin-bottom: 0rem;
      min-height: 120vh;
      .tech-grid{
        margin-bottom: 2rem;
      }
    }
  }
}