.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .animation-zone {
    width: 50vw;
    height: 50vh;
    overflow: hidden;
    position: relative;
  }
  .home-page-pic{

  }
    .text-zone {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50vh;
 

      span{
        margin: 1rem;
      }
      h2{
        width: 60%;
      margin: 3rem 0;
      font-size: 2rem;
      color: white;
      font-weight: 400;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
      }
    }
  
    h1 {
      color: white;
      font-size: 6rem;
      line-height: 3rem;
      margin: 5rem;
      font-family: 'Roboto';
      font-weight: 800;
      letter-spacing: 2px;
  
      &:before {
        font-family: 'La Belle Aurore', cursive;
        color: #65e2d9;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.6;
      }
  
      &:after {
        font-family: 'La Belle Aurore', cursive;
        color: #65e2d9;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
  
      img {
        margin-left: 10px;
        opacity: 0;
        width: 50px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
        margin-right: 0px;
      }
    }
    .buttonContainer{
      position: relative;
      display: flex;
      justify-content: space-around;
      align-content: space-around;
      align-items: center;
      height: auto;
      margin: 5rem;
    }
  
    .btnProject {
      border: none;
      width: 15em;
      height: 5em;
      border-radius: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      background: linear-gradient(to right, #65e2d9, #339ecc);
      cursor: pointer;
      transition: all 450ms ease-in-out;
      margin: 1rem;
      color: #ffffff;
      
      svg{
        align-items: center;
        
      }
      .text {
        font-size: 1.8em;
        font-weight: 600;
        color: #ffffff;
        font-size: medium;
        margin: 0;
      }
      &:hover {
    
        background: #65e2d9;
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 180px 0px #9917FF;
        transform: translateY(-2px);
      }
    }
      
    .btnContact{
      border: none;
      width: 15em;
      height: 5em;
      border-radius: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      background: linear-gradient(to right, #ffffff, #ffffff);
      cursor: pointer;
      transition: all 450ms ease-in-out;
      margin: 1rem;
      color: #339ecc;
      
      svg{
        align-items: center;
      }
      .text {
        font-size: 1.8em;
        font-weight: 600;
        color: #339ecc;
        font-size: medium;
        margin: 0;
      }
      &:hover {
        background: #ffffff;
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
        inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
        0px 0px 0px 4px rgba(255, 255, 255, 0.2),
        0px 0px 180px 0px #9917FF;
        transform: translateY(-2px);
      }
    }
    
    .btn
    .sparkle {
      fill: #AAAAAA;
      transition: all 800ms ease;
    }
    
    
    
    .btn:hover .text {
      color: white;
    }
    
    .btn:hover .sparkle {
      fill: white;
      transform: scale(1.2);
    } 
    .social-links{
      margin: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        position: relative;
        display: flex;
        padding: 20px;
        list-style: none;
        text-align: center;
        margin: 0;
    
        li {
          a {
            padding: 7px 0;
            margin-right: 20px;
            display: flex;
            font-size: 4rem;
            line-height: 20px;
            color: #ffffff;

            svg{
              &:hover {
               color: #339ecc;
                transform: translate(2px, -1px);
                transition: all 0.3s ease;
              }
            }
          }
    
          &:hover {
            .anchor-icon {
              color: #be4e04;
            }
          }
        }
      }
    }
  }
  
  
  
  @media screen and (max-width: 1200px) {
  
    .home-page .text-zone {
      position: relative;
      scale: 0.4;
      padding: 10px;
      width: 50vw;
      height: 50vh;
      box-sizing: border-box;
      
      h1{
        font-size: 60px;
      }
      h2{
        font-size: 20px;
      }
    }
    
    .home-page .flat-button {
      scale: 0.7;
      float: middle;
      display: block;
      margin: 20px auto 0 auto;
      width: 124px;
    }
  
    .logo-container {
      position: relative;
      width: 100px;
      height: auto;
      top: 50px;
      right: 0;
      box-sizing: border-box;
      margin: auto;
      left: 0;
    }
  
    .logo-container svg {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
    }
  }