.nav-bar{
    background: transparent;
    width: 100vw;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    color: white;
    width: 100vw;

 .social-links{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    padding-right: 50px;

    ul {
      position: relative;
      display: flex;
      list-style: none;
      text-align: center;
      margin: 0;
  
      li {
        padding: 0 1rem;
        a {
          padding: 7px 0rem;
          display: flex;
          font-size: 4rem;
          line-height: 20px;
          color: #ffffff;

          svg{
            &:hover {
             color: #339ecc;
              transform: translate(2px, -1px);
              transition: all 0.3s ease;
            }
          }
        }
  
        &:hover {
          .anchor-icon {
            color: #be4e04;
          }
        }
      }
    }
  }
    .logo{
        display: block;
        color:white;
        padding: 0;
        margin-left: 4rem;
        width: 100px;
        img {
             width: 6rem;
             height: 6rem;
        }
    }
    nav{
        display: flex;
        text-align: center;
        position: relative;
        margin: 1rem;
        height: 100px;
        align-items: center;
        align-content: center;
            a{
                font-size: 3rem;
                color: white;
                display: flex;
                flex-direction: column;
                line-height: 4rem;
                height: 4rem;
                position: relative;
                text-decoration: none;
                padding: 0px;
                margin: 0rem 1rem;
    
                i{
                    transition: all 0.3s ease-out;
                }
    
                &:hover{
                transform: translateY(-2px);
                 transition: all 0.3s ease-in-out;
                 color: #65e2d9;
                }
    
                &:after{
                    color: white;
                    content: '';
                    font-size: 9px;
                    letter-spacing: 2px;
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.3s ease-out;
                }
                &:first-child{
                    &::after{
                        content: 'HOME';
                    }
                }

            }
            a.active{
                svg {
                    color: #65e2d9;
                }
            }
            
            span{
                font-size: 1.2rem;
            }
        }

        ul {
            display: flex;
            list-style: none;
            text-align: center;
            margin: 0;
        
            li {
              a {
                padding: 7px 0;
                display: flex;
                font-size: 25px;
                line-height: 20px;

                color: #4d4d4e;
              }
        
              &:hover {
                .anchor-icon {
                  color: #be4e04;
                }
              }
            }
          }
          a {
            width: 5rem;
            height: 5rem;
         }
}



