.nav-bar{
    background: transparent;
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    z-index: 100;
    color: white;
    width: 100vw;
 a {
    width: 6rem;
    height: 6rem;

 }
    .logo{
        display: block;
        color:white;
        padding: 0;
        margin-left: 4rem;
        img {
             width: 6rem;
             height: 6rem;
        }
    }
    nav{
        display: flex;
        text-align: center;
        position: relative;
        padding-bottom: 40px;
        margin: 2rem;
        padding: 2rem;
        height: 100px;
        align-items: center;
        align-content: center;
            a{
                font-size: 3rem;
                color: white;
                display: flex;
                flex-direction: column;
                line-height: 4rem;
                height: 4rem;
                position: relative;
                text-decoration: none;
                padding-left: 0px;
                margin: 0rem 1rem;
    
                i{
                    transition: all 0.3s ease-out;
                }
    
                &:hover{
                transform: translateY(-2px);
                 transition: all 0.3s ease-in-out;
                 color: #65e2d9;
                }
    
                &:after{
                    color: white;
                    content: '';
                    font-size: 9px;
                    letter-spacing: 2px;
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    text-align: center;
                    opacity: 0;
                    transition: all 0.3s ease-out;
                }
                &:first-child{
                    &::after{
                        content: 'HOME';
                    }
                }

            }
            a.active{
                svg {
                    color: #65e2d9;
                }
            }
            
            span{
                font-size: 1.2rem;
            }
        }

        ul {
            position: absolute;
            bottom: 2%;
            left: calc( 95% - 20px) ;
            display: flex;
            padding: 20px;
            list-style: none;
            text-align: center;
            margin: 0;
        
            li {
              a {
                padding: 7px 0;
                margin-right: 20px;
                display: flex;
                font-size: 25px;
                line-height: 20px;

                color: #4d4d4e;
              }
        
              &:hover {
                .anchor-icon {
                  color: #be4e04;
                }
              }
            }
          }
}



